// ==========================================================================
// Form
// ==========================================================================

.form {
	.form__body {
		margin-bottom: 3rem;
	}

	.form__label {
		margin-bottom: .4rem;
		display: inline-block;
		font-size: 1.4rem;
	}

	.form__controls + .form__controls {
		margin-top: 2rem;
	}

	.form__actions {
		display: flex;
		justify-content: flex-end;
	}
}