// ==========================================================================
// Nav Utilities
// ==========================================================================

.nav-utilities {
	background-color: var(--c-main-light);
	padding: .6rem 4rem;

	ul {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 2rem;
	}
}