// ==========================================================================
// Board 
// ==========================================================================

.board {
	display: flex;
	flex-direction: column;
	height: 100vh;
	scrollbar-color: var(--c-white) #00000026;
    scrollbar-width: auto;
    overflow-x: auto;

	.board__head {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding: 2rem 4rem;		
		border-bottom: 1px solid var(--c-base)
	}

	.board__inner {
		padding-top: 2rem;
		padding-inline: 4rem;
		overflow-y: hidden;
		overflow-x: auto;
		flex: 1;
		position: relative;
	}

	.board__spinner {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}