// ==========================================================================
// List board
// ==========================================================================

.list-board {
	display: flex;
	flex-direction: column;
	background-color: var(--c-blue-100);
	border-radius: .8rem;
	padding: 1.4rem;
	width: 30rem;
	flex-shrink: 0;
	max-height: 100%;
	box-shadow: 5px 5px 7px -8px rgba(0, 0, 0, 0.6);
	overflow-y: auto;
	transition: background-color var(--t-duration);	
	cursor: pointer;		

	&.is-dragged-over {
		background-color: var(--c-blue-200);
	}

	.list__head {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1rem;
		margin-bottom: 16px;
	}
	
	.list__title {
		flex: 1;
	}
}

//
// List board is dragging
// ==========================================================================

.list-board.is-dragging {
	background-color: var(--c-blue-200);

	> * {
		opacity: 0;
	}
}
