// ==========================================================================
// Card
// ==========================================================================

.card {
	font-size: 1.4rem;
	border-radius: .6rem;
	background-color: var(--c-blue-500);
	color: var(--c-white);
	padding: 1rem 1.4rem;
	box-shadow: 1px 1px 11px -4px rgba(0, 0, 0, 0.6);
	transition: background-color opacity;
	transition-duration: var(--t-duration);
	cursor: pointer;

	&.is-dragging {
		opacity: .7;
	}

	&:hover {
		background-color: var(--c-blue-700);
	}

	.card__head {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1rem;
		margin-bottom: .4rem;
	}

	.card__title {
		font-size: 1.5rem;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.card__label {
		display: inline-block;
		color: var(--c-white);
		background-color: rgba(0,0,0, 0.6);
		border-radius: 3rem;
		text-align: center;
		padding: .4rem 1rem;
		font-size: 1.1rem;
	}
}