// ==========================================================================
// Main content
// ==========================================================================

.main-content {
	flex: 1;
	overflow-x: hidden;
	height: 100vh;
}