// ==========================================================================
// Main content
// ==========================================================================

.main-content {
	flex: 1;
	overflow-x: hidden;
	height: calc(100% - var(--nav-utilities-height));
}