// ==========================================================================
// Board list
// ==========================================================================

.board-list {
	background-color: var(--c-lightblue);
	border-radius: 1rem;
	padding: 1.4rem;
	width: 30rem;
	flex-shrink: 0;
	box-shadow: 5px 5px 7px -8px rgba(0, 0, 0, 0.6);
	
	.board__title {
		margin-bottom: 16px;
	}
}