// ==========================================================================
// Board list
// ==========================================================================

.board-list {
	background-color: var(--c-lightblue);
	border-radius: 1rem;
	padding: 1.4rem;
	width: 30rem;
	flex-shrink: 0;
}