// ==========================================================================
// Input field
// ==========================================================================

.input-field {
	width: 100%;
	border: 1px solid var(--c-gray-500);
	box-shadow: 4px 4px 4px -4px rgba(0, 0, 0, 0.3);
	border-radius: .4rem;	
	height: 3.6rem;
	padding: .6rem 1rem;
	font-size: 1.6rem;
	transition: border-color var(--t-duration),
	background-color var(--t-duration);

	&:focus {
		border-color: var(--c-blue-500);
		background-color: #ececec96;
	}

	&::placeholder {
		opacity: .5;
	}
}

.input-field--textarea {
	height: 11rem;
	resize: none;
}