// ==========================================================================
// Sidebar
// ==========================================================================

.sidebar {
	width: 10rem;
	flex-shrink: 0;
	background-color: var(--c-blue-100);
	padding-block: 4rem;
	padding-inline: 2rem;
	height: 100vh;
}